/* Global */

:root {
	/* Color */
	--color-white: #ffffff;
	--color-light-white: #eeeeee;
	--color-dark-white: #bdbdbd;
	--color-light-purple: #e2c8f8;
	--color-purple: #b08ef4;
	--color-dark-purple: #bb7def;
	--color-dark-grey: #4d4d4d;
	--color-grey: #616161;
	--color-light-grey: #7c7979;
	--color-blue: #73aace;
	--color-yellow: #fff7d1;
	--color-orange: #feb546;
	--color-black: #000000;

	/* Font size */
	--font-large: 48px;
	--font-medium: 28px;
	--font-regular: 18px;
	--font-small: 16px;
	--font-micro: 14px;

	/* Font weight */
	--weight-bold: 700;
	--weight-semi-bold: 600;
	--weight-regular: 400;

	/* size */
	--size-border-radius: 4px;
	--size-padding-section: 40px;

	/* Animation */
	--animation-duration: 300ms;
}

/* Universal tags */
* {
	box-sizing: border-box;
}

/* Typography */

body {
	position: absolute;
	width: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	cursor: default;
}

h1 {
	font-size: var(--font-large);
	font-weight: var(--weight-bold);
	color: var(--color-black);
	margin: 16px 0px;
}

h2 {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	color: var(--color-black);
	margin: 8px 0;
}

h3 {
	font-size: var(--font-regular);
	font-weight: var(--weight-semi-bold);
	color: var(--color-black);
	margin: 8px 0;
}

p {
	font-size: var(--font-regular);
	font-weight: var(--weight-regular);
	color: var(--color-black);
	margin: 4px 0;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

a {
	text-decoration: none;
	color: var(--color-white);
}

button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
}

/* Nav */

.navBar {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	padding: 8px;
	z-index: 1;
	transition: all var(--animation-duration) ease-in-out;
}

.navBar__scroll {
	background-color: var(--color-purple);
	padding: 0px;
}

.navBar__logo {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	display: flex;
	align-items: center;
}

#navBar__image {
	width: var(--font-medium);
	height: var(--font-medium);
	margin-right: 8px;
}

.navBar__menu {
	display: flex;
	color: var(--color-white);
	background-color: transparent;
	transition: all var(--animation-duration) ease-in-out;
}

.navBar__menu__item {
	padding: 8px 12px;
	margin: 0px 4px;
	cursor: pointer;
	border-radius: var(--size-border-radius);
	transition: all var(--animation-duration) ease-in-out;
}

.navBar__menu__item:hover {
	background-color: var(--color-dark-purple);
	transition: all var(--animation-duration) ease-in-out;
}

.navBar__menu__item.active {
	border: solid 1px var(--color-white);
	border-radius: var(--size-border-radius);
}

/* navBar toggle */

.nav__toggle__btn {
	position: absolute;
	right: 32px;
	top: 12px;
	font-size: 24px;
	color: var(--color-white);
	display: none;
}

/* Home */

.home {
	background: url("img/home-background.png") center/cover no-repeat;
	padding: var(--size-padding-section);
	padding-top: 100px;
	text-align: center;
	transition: all var(--animation-duration) ease-in-out;
}

.home__image {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 2px solid var(--color-light-white);
}

.home h1,
.home h2 {
	color: var(--color-white);
}

.home__button {
	color: var(--color-white);
	font-size: var(--font-regular);
	font-weight: var(--weight-bold);
	margin: 24px;
	padding: 8px 12px;
	border: 2px solid var(--color-white);
	border-radius: var(--size-border-radius);
}

.home__button:hover {
	background-color: var(--color-dark-purple);
	transition: all var(--animation-duration) ease-in-out;
}

/* Section common */

.section {
	text-align: center;
	padding: var(--size-padding-section);
	padding-top: 69px;
	margin: auto;
	/* height: 100vh; */
}

.section__container {
	margin: auto;
	text-align: center;
	max-width: 1200px;
}

/* About */

.about__stack {
	display: flex;
	justify-content: space-between;
	margin: 80px 0 40px 0;
}

.stack__image {
	color: var(--color-blue);
	width: 170px;
	height: 170px;
	font-size: 70px;
	line-height: 170px;
	border: 2px solid;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 16px;
}

.stack__image:hover i {
	color: var(--color-purple);
	transform: rotate(30deg) scale(1.1);
}

.stack__image i {
	transition: all var(--animation-duration) ease;
}

.stack__title,
.stack__description {
	color: var(--color-dark-grey);
}

.stack__description {
	font-size: var(--font-small);
}

.about__career {
	display: flex;
	align-items: center;
}

.career__image {
	width: 200px;
	height: 80px;
}

.career__description {
	text-align: left;
}

.career__name,
.career__period {
	color: var(--color-light-grey);
	font-size: var(--font-small);
}

/* Skill */

.skills {
	background-color: var(--color-yellow);
	color: var(--color-light-white);
}

.skills h3 {
	margin-top: 0;
	color: var(--color-white);
}
.skillset {
	display: flex;
	background-color: var(--color-light-grey);
	margin: 20px 0;
}

.skillset__left {
	background-color: var(--color-dark-grey);
	flex-basis: 60%;
	padding: 20px 40px;
}

.skill {
	margin-bottom: 20px;
}

.skill__description {
	display: flex;
	justify-content: space-between;
}

.skill__bar {
	background-color: var(--color-grey);
	height: 4px;
}

.skill__value {
	background-color: var(--color-orange);
	height: 100%;
}

.skillset__right {
	flex-basis: 40%;
}

.tools {
	background-color: var(--color-grey);
}

.tools,
.etc {
	padding: 20px;
}

/* My work */

.myWork__categories {
	margin: 40px 0;
}

.myWork__category__btn {
	border: 1px solid var(--color-dark-white);
	border-radius: var(--size-border-radius);
	font-size: var(--font-regular);
	padding: 8px 44px;
	width: 200px;
}

.myWork__category__btn.active,
.myWork__category__btn:hover {
	background-color: var(--color-purple);
	color: var(--color-white);
}

.myWork__category__btn.active .myWork__category__count,
.myWork__category__btn:hover .myWork__category__count {
	opacity: 1;
	top: 0;
}

.myWork__category__count {
	background-color: var(--color-orange);
	color: var(--color-white);
	border: 1px solid var(--color-orange);
	border-radius: 50%;
	width: 24px;
	height: 24px;
	line-height: 25px;
	display: inline-block;
	position: relative;
	top: -20px;
	left: 4px;
	opacity: 0;
	transition: all var(--animation-duration) ease-in;
}

.myWork__category__box {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
	max-width: 1200px;
	transition: all var(--animation-duration) ease-out;
}

.myWork__category__item {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: var(--color-light-white);
	width: 280px;
	height: 250px;
	margin: 5px;
	opacity: 1;
	transition: all var(--animation-duration) ease-out;
}

.myWork__category__image {
	max-width: 100%;
	max-height: 100%;
}

.myWork__category__description {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transform: translateY(10px);
	transition: all var(--animation-duration) ease-in;
}

.myWork__category__description:hover {
	opacity: 0.8;
	transform: translateY(-10px);
}

.myWork__category__description h3 {
	color: var(--color-orange);
}

.myWork__category__description h3:after {
	content: "";
	display: block;
	position: relative;
	left: 50%;
	margin-left: -40px;
	margin-top: 8px;
	width: 80px;
	height: 2px;
	background-color: var(--color-dark-white);
}

/* Testimonials */

.testimonial {
	background-color: var(--color-light-white);
}

.testiminial__box {
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}

.testimonial__image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.testimonial__content {
	background-color: var(--color-white);
	border-radius: var(--size-border-radius);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.testimonial__image:nth-child(odd) {
	margin-right: 40px;
}

.testimonial__image:nth-child(even) {
	margin-left: 40px;
}

.testimonial__writing {
	color: var(--color-light-grey);
	margin: 0 40px;
}

.testimonial__author {
	color: var(--color-light-grey);
	margin: 15px 0;
}

.testimonial__author a {
	color: var(--color-dark-purple);
}

/* Contact */

.contact {
	background-color: var(--color-dark-purple);
}

.contact .title,
.contact .address,
.contact .owner {
	color: var(--color-white);
	padding: 10px 0;
}

.contact__link {
	font-size: var(--font-large);
}

.contact__link i:hover {
	color: var(--color-yellow);
	transform: scale(1.1);
	transition: all var(--animation-duration) ease-in-out;
}

/* Responsive */

@media screen and (max-width: 768px) {
	.hidden__small {
		opacity: 0;
		display: none;
	}

	.nav__toggle__btn {
		display: block;
	}

	.navBar {
		flex-direction: column;
		align-items: flex-start;
		padding: 10px 0;
	}

	.navBar__menu {
		flex-direction: column;
		text-align: center;
		width: 100%;
		transition: all 3s ease-in-out;
	}

	.about__stack {
		flex-direction: column;
	}

	.stack__item {
		margin-bottom: 38px;
	}

	.skillset {
		flex-direction: column;
	}

	.myWork__category__item {
		flex-grow: 1;
	}

	.testimonial__image {
		width: 100px;
		height: 100px;
	}
}

.arrow-up {
	position: fixed;
	bottom: 50px;
	right: 50px;
	padding: 0;
	width: 55px;
	height: 55px;
	font-size: 50px;
	color: var(--color-white);
	background-color: var(--color-purple);
	border-radius: 50%;
	opacity: 0;
	z-index: 1;
	pointer-events: none;
	transition: all var(--animation-duration) ease-in-out;
}

.arrow-up__scroll {
	opacity: 1;
	pointer-events: auto;
}

/* etc */

.invisable__regular {
	opacity: 0;
}

.hidden__regular {
	display: none;
}
